* {
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #FFFFFF;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 500;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  margin: 0;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Gotu', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
}

h2 {
  font-family: 'Gotu', sans-serif;
  font-size: 2.0em;
  font-weight: 500;
}

h3 {
  font-family: 'Gotu', sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  margin: 10px 0px;
}

h4 {
  font-family: 'Gotu', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}

/*images*/
img {
  width: 100%;
}

p {
  margin-top: -3px;
  margin-bottom: 10px;
}

a {
  color: #000000;
  text-decoration: none;
  font-family: 'Gotu', sans-serif;
  font-weight:bold;
  /* No underlining */
}

/* links*/
a,
a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #E47068;
  font-weight: bold;
  text-decoration: underline;
}

a.button {
  font-family: 'Gotu', sans-serif;
  display: inline-block;
  margin-bottom: 15px;
  border: #A10F18 solid 3px;
  color: #FFFFFF;
  background-color: #E47068;
  padding: 10px 15px;
  border-radius: 0px;
  transition: ease-out 0.3s;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

a.button:hover {
  color: #FFFFFF;
  background-color: #A10F18;
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: none;
}

a.button:before {
  transition: 0.5s all ease;
  position: absolute;
  border-radius: 0px;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #A10F18;
}

a.button:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* Scrool to top button */
#scrollTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #D0826F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
}

#scrollTop:active {
  background: #B2513A;
}

/*Layout styling*/
header {
  background-color: #F3F0EC;
  padding: 10px 0px 15px;
  position: relative;
  width: 100%;
  z-index: 999;
}

.container {
  padding: 0 15px;
}

#work {
  display: block;
  align-items: center;
  padding: 40px;
}

.projects {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.workrow {
  padding: 30px 0px;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}



nav {
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  background-color: #F3F0EC;
  color: #000000;
  font-size: 16px;
  line-height: 55px;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
}

nav ul li {
  float:left;
  list-style: none;
}

nav ul li a {
  display: block;
  color: #000000;
  font-size: 18px;
  padding: 18px 14px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #F3F0EC;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
border-bottom: 1px solid #E47068;
}

nav ul li ul li {
width: 180px;
}


nav ul li ul li a {
padding: 12px 14px;
}

nav ul li ul li a:hover {
background-color: #FDF7F8;
}



.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 20px;
  padding-right: 10px;
  color: #A10F18;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle.responsive li {
  display: block;
}

/*main styling (start main section below header)*/
main {
  padding-top: 56px;
}

/*hero styling*/
#hero {
  background-color: #FFFFFF;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  color: #D0826F;
  font-family: 'Gotu', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0.4em 0;
  margin: 0;
}

#hero h2 {
  text-align: center;
  font-family: 'Gotu', sans-serif;
  font-weight: bold;
  margin: 15px 0;
}

#hero p {
  text-align: center;
}

/* footer styling */
footer {
  background-color: #F3F0EC;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

#footer h2 {
  font-family: 'Gotu', sans-serif;
  font-weight: bold;
  text-align: center;
}

#footer p {
  text-align: center;
}

.social-links {
width: 100%;
height: auto;
margin: auto;
padding: 20px 0px 30px 0px;
}

.social-links ul {
margin: 0px;
padding: 0px;
text-align: center;
}

.social-links ul li{
display: inline-block;
width:60px;
height: 60px;
text-align: center;
background: #000000;
border-radius: 100%;
margin: 0px 10px;
}

.social-links ul li a{
  display: block;
  color: #FFFFFF;
  font-size: 30px;
}

.social-links ul li a i{
  line-height: 60px;
}

.social-links ul li:nth-child(1){
  background-color: #E9B3A3;
}
.social-links ul li:nth-child(2){
  background-color: #E47068;
}
.social-links ul li:nth-child(3){
  background-color: #D0826F;
}
.social-links ul li:hover{
background-color: #A10F18;
border-radius: 100%;
}

/* Work Styling */
#work h2 {
  font-family: 'Gotu', sans-serif;
  text-align: center;
}

#work p {
  padding-bottom: 15px;
}

footer p {
  margin-bottom: 10px;
}

/* about page styling */
#mystory {
  border-right: #F6D4D2 solid 10px;
  border-bottom: #F6D4D2 solid 10px;
}


#aboutme h1 {
  font-family: 'Gotu', sans-serif;
  text-align: center;
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
}

#aboutme h2 {
  font-family: 'Gotu', sans-serif;
  text-align: center;
}

.abouttitle {
  text-align: center;
  display: inline-block;
  width: 100%;
}

#skills-tools {
  background-image: url(../img/abstract_bckgrnd.svg);
  background-size: cover;
  margin: 0;
}

.skills-tools {
  padding: 20px;
  margin: 0px 20px;
}

#skills {
  text-align: center;
  padding: 5px 10px;
}

#skills ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

#skills ul>li {
  text-align: center;
  list-style-type: none;
}

#skills h3 {
  text-transform: capitalize;
  font-family: 'Gotu', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

#skills p {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.skills-box {
  background-color: #F2D7D7;
  margin: 30px;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px 0;
}

.tools-box {
  background-color: #F2D7D7;
  margin: 30px;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px 0;
}

#tools {
  text-align: center;
  padding: 5px 10px;
}

#tools ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

#tools ul>li {
  text-align: center;
  list-style-type: none;
}

#tools h3 {
  text-transform: capitalize;
  font-family: 'Gotu', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

#tools p {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
}

#mystory {
  text-align: justify;
  padding: 10px;
  display: inline-block;
}

#mystory a {
  text-align: center;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

#pictureme {
  float: left;
  padding-top: 20px
}


/* project styling */
.ontherocks {
  font-family: 'Darker Grotesque', sans-serif;
  background-color: #F2FDFF;
}

.ontherocks svg {
  max-width: 760px;
}

.budgetly {
  background-color: #F6F8FA;
  padding: 0px 60px 20px 60px;
}

.peeps {
  padding: 0px 60px 20px 60px;
}

.eluxy {
  padding: 0px 80px 20px 80px;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  nav>ul {
    margin: 1em 0;
  }

  nav {
    width: auto;
    float: right;
  }

  nav>ul>li {
    display: inline-block;
    padding: 10px 15px 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    padding: 10px 15px 0;
    border-top: none;
  }

  .navtoggle.responsive li:last-child {
    padding: 0;
  }

  .logo {
    max-width: 100px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
    align-items: center;
  }

  .resume {
   text-align: center;
   width: 100%;
   padding: 40px 20px;
   clear: both;
 }


  #work {
    display: block;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  main {
    padding-top: 15px;
  }

  #hero h1 {
    font-family: 'Gotu', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
  }

  #hero h2 {
    font-family: 'Gotu', sans-serif;
    font-size: 1em;
    font-weight: 300;
  }

  .sameheight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  #pictureme {
    position: relative;
  }

  #pictureme picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #pictureme img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #mystory {
    padding: 10px;
  }

  #mystory p {
    text-align: justify;
    font-size: 1em;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.1em;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-2 {
    width: 15%;
  }

  .col-lg-7 {
    width: 40%;
  }

  .col-md-6 {
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  nav ul li {
    float:left;
    list-style: none;
    position: relative;
  }

  nav {
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    background-color: #F3F0EC;
    color: #000000;
    font-size: 16px;
    line-height: 55px;
  }

  nav ul {
    float: left;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    float:left;
    list-style: none;
  }

  nav ul li a {
    display: block;
    color: #000000;
    font-size: 18px;
    padding: 18px 14px;
    text-decoration: none;
  }

  nav ul li ul {
    display: none;
    position: absolute;
    background-color: #F3F0EC;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
  }

  nav ul li:hover ul {
    display: block;
  }

  nav ul li ul li {
  border-bottom: 1px solid #E47068;
  }

  nav ul li ul li {
  width: 180px;
  }


  nav ul li ul li a {
  padding: 12px 14px;
  }

  nav ul li ul li a:hover {
  background-color: #FDF7F8;
  }


  #work {
    display: block;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  #mystory {
    padding: 10px;
  }

  #mystory p {
    text-align: justify;
  }

  .logo {
    max-width: 200px;
  }
}
