/*
Colors used:
Dark Gray: #8F9ba0;
Light Gray: #f7f7f7;
Navy: #2a2a28
Stone: #dad7cc
*/


* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #FFFFFF;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #253547;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}

/*images*/
img {
  width: 100%;
}

p {
  margin-top: -3px;
  margin-bottom: 0;
}

a {
  color: #263547;
  text-decoration: none;
  /* No underlining */
}

/* links*/
a,
a:visited {
  color: ##D4BDAD;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #2a2a28;
  text-decoration: underline;
}

.button {
  display: inline-block;
  margin-bottom: 15px;
  border: none;
  color: #FFFFFF;
  background-color: #253547;
  padding: 10px;
  border-radius: 8px;
  transition: ease-out 0.3s;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.button:hover {
  color: #F0EFEC;
  background-color: #d0826f;
  cursor: pointer;
  box-sizing: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.button:before {
  transition: 0.5s all ease;
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #d0826f;
}

.button:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];

/*Layout styling*/
header {
  background-color: #D4BDAD;
  text-align: center;
  padding: 10px 0 4px;
  position: fixed;
  border-bottom: 2px solid #F19C79;
  width: 100%;
  display: inline-block;
}

#navbar {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
  padding-right: 3%;
}

.container {
  padding: 0 15px;
}

#work .row {
  margin: 25px 15px;
  /* 25px top and bottom, 15 left and right */
  padding: 0;
  bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 150px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4a4a4a;
}

nav>ul>li>a:active {
  color: #2a2a28;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle.responsive li {
  display: block;
}

/*main styling (start main section below header)*/
main {
  padding-top: 56px;
}

/*hero styling*/
#hero {
  background-color: #FFFFFF;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
  padding: 0.4em 0;
  margin: 0;
}

#hero h2 {
  text-align: center;
  margin: 15px 0;
}

#hero p {
  text-align: center;
}

/* footer styling */
footer {
  background-color: #F0EFEC;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border-top: 2px solid #d0826f;
}

#footer h2 {
  text-align: center;
}

#footer p {
  text-align: center;
}

/* Social media Styling */
.icon-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.icon-wrapper svg {
  width: 40px;
  height: 40px;
}

.icon-wrapper span {
  padding: 5px;
}

#social-links {
  text-align: center;
  padding-bottom: 20px;
}

#social-links>a {
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 0.889em;
  font-weight: 300;
  text-align: center;
}

/* Work Styling */

#work h2 {
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}


/* about page styling */
.about h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.about h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.about button {
  text-align: center;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.abouttitle {
  text-align: center;
  padding: 10px;
  display: inline-block;
  width: 100%;
}



#skills ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

#skills ul>li {
  text-align: center;
  list-style-type: none;
}


#skills h3 {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 3px;
}


#skills p {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.skills-box {
  background-color: #F0EFEC;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  padding:5px 0;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
}

.tools-box {
  background-color: #F0EFEC;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  padding:5px;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
}



#tools {
  text-align: center;
  padding: 5px;
  display: inline-block;
}

#tools ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

#tools ul>li {
  text-align: center;
  list-style-type: none;
}


#tools h3 {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 3px;
}


#tools p {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
}


#mystory {
  text-align: justify;
  padding: 10px;
  display: inline-block;
}

#mystory a {
  text-align: center;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

#pictureme {
  float: left;
  padding-top: 20px
}

/* on the rocks styling */
#ontherocks h2 {
  text-align: center;
}

#ontherocks ul {
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  nav>ul {
    margin: 1em 0;
  }

  nav {
    width: auto;
    float: right;
  }

  nav>ul>li {
    display: inline-block;
    padding: 10px 24px 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    max-width: 300px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
  }
}

.resume {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  @media only screen and (min-width: 1024px) {
    .col-lg-5 {
      width: 40%;
    }

    .col-lg-2 {
      width: 15%;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    [class*="col-"] {
      float: left;
      padding-left: 10px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    #navbar {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 6%;
      padding-right: 6%;
    }
  }

  /* ==============================
Berlin Illustration Animation Example
================================= */
  .berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  @keyframes color-change {
    from {
      fill: #edc655;
    }

    to {
      fill: #f76414;
    }
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }

    to {
      transform: translate(200px, 50px);
    }
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }

    to {
      transform: translate(100px, 48px);
    }
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
